
<div class="wrapper">
    <div class="contents">
        <% @tweets.each do |tweet| %>
            <div class="contents__post">
            <h3><%= tweet.title %></h3>
            <p><%= tweet.text %></p>
            </div>
        <% end %>
    </div>
</div>