<div class="header">
    <div class="header__contents">
        <div class="header__contents__logo">
            <%= image_tag "mini-blog-logo_paleturquoise.png", width: "375px", height: "90px" %>
        </div>
        <ul class="nav">
            <li class="signin">Sign in</li>
            <li class="signout">Sign out</li>
            <li class="new"><a href="/tweets/new">New</a></li>
        </ul>
    </div>
</div>